.categories {
    display: flex;
    flex-direction: column;
    background-color: #f0f1f5;
    height: 100vh;
    padding: 10px;

    .categorie-header {
        margin: 2px;
        width: 100%;
        height: 80px;
        border-radius: 10px;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        h2 {
            font-size: 1em;
            font-family: roboto;
        }

       .btns-nav{
        display: flex;
        align-items: center;
        gap: 10px;
       }
            .btn-create-catego ,.btn-subcategorie {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                height: 40px;
                border: none;
                border-radius: 10px;
                background-color: orangered;
                cursor: pointer;
                
                    font-size: 0.8em;
                    color:#f0f1f5
                
            }
        
    }

    .section-article{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

         .section{
            height: 550px;
            width: 100%;
            font-size:1em;  
            margin:20;
            border-radius:10px;
            background:#ffff;
         }
    }
    
}

@media (max-width:768px) {
    .section-article{
        width: 95%;
        flex-direction: column;
    }
}
