.widget {
    width: 255px;
    height: 90px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 1px 1px 1px 1px #dee0ee;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    .widget-content {
        display: flex;
        justify-content: space-between;

        h1 {
            margin: 5px;
            font-size: 16px;
            font-weight: bold;
            font-family: Roboto, sans-serif;
        }

        .icon {
            margin: 5px 0 0 10px;
            font-size: 35px;
            color: rgb(255, 44, 44);
        }
    }


    p {
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #4d4d4ddd;
        font-family: Roboto, sans-serif;
    }
}