.widget3 {
    flex: 1;
    height: 90px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 1px 1px 1px 1px #dee0ee;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    .widget3-content {
        display: flex;
        justify-content: space-between;

        h1 {
            margin: 5px;
            font-size:1em;
            font-weight: bold;
            font-family: Roboto, sans-serif;
        }

        .icon {
            margin: 5px 0 0 10px;
            font-size: 1.4em;
            color: rgb(18, 120, 255);
        }
    }

    p {
        margin: 5px;
        font-size: 1em;
        font-weight: bold;
        color: #4d4d4ddd;
        font-family: Roboto, sans-serif;
    }
}

@media (max-width:768px) {
    .widget3{
        width: 95%;
    }
}