@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@100;300;700&family=PT+Sans+Caption&family=Montserrat:wght@300;400&display=swap');

:root{
  --backgroundPrimary:#2d1a35;
  --backgroundSecondary:orange,
  --textSize:1em;
  --titleSize:1.3em;
  --btnColor:orangered
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto",sans-serif;
}


.body{
  display: flex;
  
  .contents{
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: scroll
  }
}

@import "./styles/header";
@import "./styles/sidebar";
@import "./styles/home";
@import "./styles/not-found";
@import "./styles/loading";
@import "./styles/widget";
@import "./styles/widget1";
@import "./styles/widget2";
@import "./styles/widget3";
@import "./styles/widget4";
@import "./styles/widget5";
@import "./styles/widget6";
@import "./styles/widget7";
@import "./styles/widget8";
@import "./styles/widget9";
@import "./styles/product";
@import "./styles/addprod";
@import "./styles/categorie";
@import "./styles/livreurs";
@import "./styles/commandes";
@import "./styles/single";
@import "./styles/createcategorie";
@import "./styles/addoptions";
@import "./styles/inscrirlivreur";